*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.back{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}