/* First Part */
/* Remove the list style */
li{
    list-style: none;
    /* font-size: 1.5rem; */
    margin:1rem;
}

header{
    display: flex;
    justify-content: space-between;
    /* margin: 0 3rem; */
}

/* header width */
header h1{
    /* font-weight: 400; */
    margin-left: 2rem;
}

ul{
    display: flex;
    justify-content: space-between;
    /* position: relative;
    left: -3rem;
    top: 1rem; */
}

/* Create a Space in words */
/* nav {
    width: 22rem;
} */

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* Second Part */
.WelcomeImage>img{
    height: 100vh;
    width:95vw;
    margin-left:2vw;
    margin-right:2.5vw;
}

/* Third part */
.container {
    display: flex;
}

.column{
    margin-right: 2rem;
    text-align: center;
    padding: 1rem;
}

/* Fourth part */
.footer{
    background-color:black;
    color:white;
    /* height: 100px; */
    padding: 1px;
}
.footer>p{
    font-size:25px;
    text-align:center;
}