/* First Part */
/* Remove the list style */
li{
    list-style: none;
    font-size: 1.5rem;
}

/* header width */
header h1{
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}

ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -3rem;
    top: 1rem;
}

/* Create a Space in words */
nav {
    width: 22rem;
}

/* Second Part */
.WelcomeImage>img{
    height: 800px;
    width:125git 0px;
}

/* Third part */
.container {
    display: flex;
    margin: 2rem;
}

.column{
    margin-right: 2rem;
    text-align: center;
    padding: 1rem;
}

/* Fourth part */
.footer{
    background-color:black;
    color:white;
    height: 100px;
    padding: 10px;
}
.footer>p{
    font-size:20px;
    text-align:center;
}